:root {
  --animation-timing: 1.5s;
}

.app-container {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: relative;
  background-color: transparent;
}

.buttons-container {
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
  justify-content: center;
}

.node__element--highlight {
  animation: nodeHighlight var(--animation-timing) ease;
}

@keyframes nodeHighlight {
  0% {
    background-color: #333;
    color: white;
  }
  25% {
    background-color: rgb(138, 245, 255);
    color: #333;
  }
  75% {
    background-color: #333;
    color: white;
  }
  100% {
    background-color: rgb(188, 117, 246);
    color: #212529;
  }
}

/* CSS for the container and child nodes */
#treeContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 300px;
  width: 100%;
  background: #f0f8ff;
  padding: 15px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
}

.node, .child {
  display: flex; 
  justify-content: space-between; 
}

.node {
  flex-direction: column;
  margin: 10px;
  padding: 10px;
  background-color: #6495ed;
  text-align: center;
  border-radius: 4px;
  color: white;
  font-size: 14px;
}

.child {
  flex-direction: row;
  margin: 5px;
  padding: 5px;
  background-color: #add8e6;
  border-radius: 2px;
  text-align: center;
  color: white;
  font-size: 12px;
}


.node__element--highlight {
  background-color: #ffa07a;
  transition: background-color var(--animation-timing) ease-in-out;
}

