:root {
  --animation-timing: 1.5s;
}

.app-container {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: relative;
  background-color: transparent;
}

.buttons-container {
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
  justify-content: center;
}

.node__element--highlight {
  animation: nodeHighlight var(--animation-timing) ease;
}

@keyframes nodeHighlight {
  0% {
    background-color: #333;
    color: white;
  }
  25% {
    background-color: rgb(138, 245, 255);
    color: #333;
  }
  75% {
    background-color: #333;
    color: white;
  }
  100% {
    background-color: rgb(188, 117, 246);
    color: #212529;
  }
}

/* CSS for the container and child nodes */
.tree {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.node {
  position: relative;
  width: 80px;
  height: 80px;
  line-height: 80px;
  text-align: center;
  border: 1px solid #000;
  border-radius: 50%;
  background-color: #fff;
}

.child {
  position: absolute;
  width: 100%;
  top: calc(50% + 40px);
}

.left {
  left: 0;
}

.right {
  right: 0;
}
